<div class="post on-list">
    <div class="intro-text">
        <p>I am Guillermo Tirelli.</p>
        <p>I write, create, hold conversations, teach, talk, and participate in projects relating philosophy, technologies, and arts to the human experience.</p>
        <p>I work in projects combining philosophy, design, languages, technologies, business, science, and humanities both in analog and digital environments.</p>
        <p>Originally from Argentina, having lived in Paris, Berlin, and Oxford, I am now based in London.</p>
        <p>Please reach me at <a href="mailto:g@tirel.li">g@tirel.li</a></p>
        <h4>Profile</h4>
        <p><em>Guillermo Tirelli</em> writes, creates, holds conversations, teaches, talks, and participates in projects relating philosophy, technologies, and arts to the human experience.</p>
        <p>Argentinian born, he studied philosophy at the National University of Cordoba with a major in Metaphysics.</p>
        <p>In 2004 he emigrated to Europe. In Paris he completed a masters degree with a work on language in the thinking of Emmanuel Levinas. He made his doctorate in philosophy at the Sorbonne University, Paris IV, under the direction of Jean-Luc Marion with a thesis on the unsayable in the philosophy of Heidegger, Levinas, and Wittgenstein.</p>
        <p>He moved to Berlin in 2009 and to Oxford in 2016, working especially in the relation between digital technologies, business, and human sciences.</p>
        <p>In 2012 he takes part in an online postgraduate programme in media arts offered in a joint work of Latin American universities.</p>
        <p>From 2019 he lives in London.</p>
        <p>Currently he works in projects combining philosophy, design, arts, languages, technologies, business, science, and humanities both in analog and digital environments.</p>
        <p>The language and its limits, the understanding of technology and software as an evolution from language, the ethics given by the encounter with the other, the donation, and the dispersion are recurrent themes in his work.</p>
        <h4>Education</h4>
        <h5>Philosophy</h5>
        <h6>Doctorate in Philosophy</h6>
        <p>2005-2011 | Université de Paris IV (Sorbonne) | France</p>
        <ul>
            <li>Dissertation subject: ‛L’indicible. Heidegger, Lévinas, Wittgenstein’ [Unsayable. Heidegger, Levinas, Wittgenstein]</li>
            <li>385 pages, with distinction</li>
            <li>Research director: <a href="https://en.wikipedia.org/wiki/Jean-Luc_Marion">Prof. Dr Jean-Luc Marion</a></li>
        </ul>
        <h6>Master of Arts in Philosophy</h6>
        <p>2004-2005 | Université Paris XII (Val de Marne) | France</p>
        <ul>
            <li>Dissertation subject: ‛Le langage de l’indicible chez Lévinas’ [The language and the question of the unsayable in Levinas]</li>
            <li>61 pages, with distinction</li>
            <li>Research director: <a href="https://fr.wikipedia.org/wiki/%C3%89liane_Escoubas">Prof. Dr Eliane Escoubas</a></li>
        </ul>
        <h6>Bachelor of Arts in Philosophy</h6>
        <p>1997-2004 | Universidad Nacional de Córdoba | Argentina</p>
        <ul>
            <li>Dissertation subject: ‛La subjetividad en su diferencia con el ser. La metafísica en el pensar de Emmanuel Levinas’ [Subjectivity in its difference with being. Emmanuel Levinas’ metaphysics]</li>
            <li>131 pages, with distinction</li>
            <li>Research director: Prof. Dr María Clemencia Jugo Beltrán</li>
        </ul>
        <h6>Degree in Professor of Philosophy [Teaching qualification]</h6>
        <p>1997-2004 | Universidad Nacional de Córdoba | Argentina</p>
        <h5>Media Arts</h5>
        <h6>Postgraduate Studies in Media Arts</h6>
        <p>2012-2013 | Universidad Nacional de Córdoba, Universidad de Chile, Universidad de Caldas | Online (Argentina, Chile, Colombia) </p>
        <h4>Languages</h4>
        <h5>Spanish</h5>
        <p>Mother tongue</p>
        <img src="https://tirelli.micro.blog/uploads/2020/da9e879cb9.gif">
        <h5>English</h5>
        <p>Fluent</p>
        <p>Main language</p>
        <img src="https://tirelli.micro.blog/uploads/2020/d3252ab19a.gif">
        <h5>French</h5>
        <p>Fluent</p>
        <p>Test DALF, 5 years of residence in Paris</p>
        <img src="https://tirelli.micro.blog/uploads/2020/7ae406c587.gif">
        <h5>German</h5>
        <p>Intermediate level</p>
        <p>Test TELC, 6 years of residence in Berlin</p>
        <img src="https://tirelli.micro.blog/uploads/2020/d914721f1c.gif">
        <h5>Italian</h5>
        <p>Intermediate level</p>
        <p>Bilingual primary school</p>
        <img src="https://tirelli.micro.blog/uploads/2020/29ee1bf8a4.gif">
    </div>
</div>