<div class="post on-list">
    <div class="intro-text">
        <p>The project is called wordgraphy.</p>
        <p>In this project moments are captured with words.</p>
        <p>Photography draws with light, videography draws with what we see. I draw with words.</p>
        <p>Photography is the art of taking photographs. Wordgraphy is the art of taking wordgraphs.</p>
        <p>&nbsp;</p>
        <p>The project is also a book. The book is called wordgraphy.</p>
        <p>The books tells a story, of people who invent the method, of people and machines who can take wordgraphs.</p>
        <p>It tells the story of people dependent on these wordgraphs, they try to retain by fising moments with words.</p>
        <p>To retain what? Everything. Meaning; perhaps.</p>
        <p>&nbsp;</p>
        <p>The project is also the process of writing the book.</p>
        <p>Very often I will share highlights of what I wrote. With every step a new, updated edition of the book will also be published.</p>
        <p>I will read your comments. Be kind.</p>
        <p>&nbsp;</p>
        <p>I want to write because I receive more than what I give.</p>
        <p>I also want to write because, when I receive, I try to keep the give forever. Sometimes what I receive is a kiss, and I want to keep the kisser; it is a blessing, and I want to keep the god.</p>
        <p>I want to write what I receive, so I can go back to it if needed.</p>
        <p>It won’t be needed.</p>
        <p>Everything is twofold: the gift and the reception.</p>
        <p>By giving I want to be free of this need to be giving.</p>
        <p>&nbsp;</p>
        <p>Writing a book is retaining the moments until the whole is done.</p>
        <p>I will write in public.</p>
        <p>The project is being published. The project is called wordgraphy.</p>
        <p>The book is being published. The book is called wordgraphy.</p>
    </div>
</div>